<h1>New Category for <%=@current_user&.name%></h1>
<%= form_with model: [@current_user, @category], html: { class: 'form-horizontal p-5 w-50' } do |form| %>
  <div class="form-group">
    <%= form.label :name, class: 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= form.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
  <%= form.label :icon, class: 'control-label col-sm-2' %>
  <div class="col-sm-10">
    <%= form.select :icon, options_for_select([["Choose an icon", "https://img.icons8.com/office/512/double-tap-gesture"], ["Education", "https://img.icons8.com/office/512/knowledge-sharing"], ["E-learning", "https://img.icons8.com/color/512/e-learning"], ["Pets", "https://img.icons8.com/color/512/cat-caregivers"], ["Health", "https://img.icons8.com/office/512/caduceus"], ["Food", "https://img.icons8.com/color/512/kawaii-taco"], ["Entertainment", "https://img.icons8.com/color/512/joystick"], ["Entertainment 2", "https://img.icons8.com/office/512/theatre-mask"], ["Gifts", "https://img.icons8.com/color/512/gift"], ["Clothing", "https://img.icons8.com/color/512/t-shirt"], ["Transportation", "https://img.icons8.com/color/512/traffic-jam"]]), {}, { class: 'form-control', onchange: 'updateIconPreview(this)' } %>
    <img id="icon-preview" src="https://img.icons8.com/office/512/double-tap-gesture" class="mt-3" style="width: 50px; height: 50px;">
  </div>
</div>

<script>
  function updateIconPreview(select) {
    var iconUrl = select.value;
    var iconPreview = document.getElementById("icon-preview");
    iconPreview.src = iconUrl;
  }
</script>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= form.submit "New", class: 'btn btn-primary mt-4' %>
    </div>
  </div>
<% end %>