<h1><%= @category.name %>'s Transactions</h1>
<img src=<%= @category.icon %> class="card-img-top" alt=<%= @category.name %> style="width: 70px; height: 70px;">
<div class="container-fluid bg-section custom-height">
  <% @ordered_payments.each do |payment| %>
      <article class="d-flex justify-content-between bg-white mt-2 p-3" >
        <section> 
          <div class="d-flex justify-content-center align-items-center ms-3 ">
            <h5 class="card-title text-color"><%=payment.name %></h5>
          </div>
          <div class="d-flex justify-content-center align-items-center ms-3 ">
             <h5 class="card-title text-color little-text"><%= payment.created_at.strftime('%d %b %Y at %l:%M%P') %></h5>
          </div>
        </section>
        <div class="d-flex justify-content-center align-items-center">
          <p class="card-text bold-text"><%=payment.amount %> $</p>
        </div>    
      </article>
  <% end %>
</div>
<div class="w-100 fixed-bottom">
    <%= link_to "ADD A NEW TRANSACTION", new_user_category_payment_path(@current_user, @category, @payment), class: "btn btn-success w-100" %>
</div>
